<div id="foot-menu">
    <ul>
        <li>
            <a href="#">PRYWATNOŚĆ</a>
        </li>
        <li>
            <a href="#">COOKIES</a>
        </li>
        <li>
            <a href="#">NEWSLETTER</a>
        </li>
        <li>
            <a href="#">KONTAKT</a>
        </li>
    </ul>
</div>