#foot-menu {
    margin: 0 auto;
    text-align: center;
}
#foot-menu ul {
    padding: 0px;
    margin :0px;
}
#foot-menu ul li {
    padding: 0px 30px;
    margin: 0px;
    display: inline-block;
    list-style-type: none;
}
#foot-menu ul li a {
    display: block;
    color: #fff;
}
#foot-menu ul li a:hover {
    color: #fff;
    text-decoration: underline;
}