.one-block {
    border: 2px solid #000;
    overflow: hidden;
    padding: 18px 24px;
    background: #fff;
    color: #000;
    margin-bottom: 28px;
}
.one-block .title {
    display: block;
    text-transform: uppercase;
    font-family: encode_sansmedium;
}
.one-block .title:after {
    border-radius: 2px;
    display: block;
    margin: 20px auto;
    width: 146px;
    background: #000;
    content: "";
    height: 1px;
}
.one-block .content {
    overflow: hidden;
    line-height: 20px;
}