 <!--NEW BLOCK-->
<div class="one-block read-post">
    <span class="title text-center">Nowości</span>
    <div class="content">
        <div class="one-post">
            <a href="#">
                <div class="image">
                    <img src="demo/imgsmall1.jpg" alt="" />
                    <div class="transparent-bg">
                        <div>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor.
                        </div>
                    </div>
                </div>    
            </a>
        </div>
        <div class="one-post">
            <a href="#">
                <div class="image">
                    <img src="demo/imgsmall2.jpg" alt="" />
                    <div class="transparent-bg">
                        <div>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor.
                        </div>
                    </div>
                </div>    
            </a>
        </div>
        <div class="one-post">
            <a href="#">
                <div class="image">
                    <img src="demo/imgsmall3.jpg" alt="" />
                    <div class="transparent-bg">
                        <div>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor.
                        </div>
                    </div>
                </div>    
            </a>
        </div>
        <div class="one-post">
            <a href="#">
                <div class="image">
                    <img src="demo/imgsmall4.jpg" alt="" />
                    <div class="transparent-bg">
                        <div>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor.
                        </div>
                    </div>
                </div>    
            </a>
        </div>
        <div class="one-post">
            <a href="#">
                <div class="image">
                    <img src="demo/imgsmall2.jpg" alt="" />
                    <div class="transparent-bg">
                        <div>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor.
                        </div>
                    </div>
                </div>    
            </a>
        </div>
    </div>
</div>