/*BLOCK NEW*/
.read-post .one-post {
    padding-bottom: 30px;
    overflow: hidden;
}
.read-post .one-post:last-child {
    padding-bottom: 0px;
}
.read-post .one-post .image {
    overflow: hidden;
    position: relative;
}
.read-post .one-post .image img {
    height: auto;
    width: 100%;
    display: inline-block;
}
.read-post .one-post .transparent-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    width: 100%;
    padding: 10px;
    transition: background-color ease 1s;
}
.read-post .one-post a {
    color: #fff;
}
.read-post .one-post:hover .transparent-bg {
    background-color: rgba(0, 0, 0, 1.0);
}