/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        background: #fff;
        height: 80px;
        overflow: visible;
    }
    header .logo {
        width: 65%;
        margin-left: 10px;
    }
    header .logo img {
        height: 40px;
        margin: 0px;
    }
    #main-menu {
        position: absolute;
        width: 0;
        right: 0px;
        top: 0px;
        padding: 26px 0 0 0;
        min-height: 300px;
        overflow: hidden;
        background-color: #000;
        z-index: 2;
    }
    #main-menu ul {
        min-width: 320px;
        overflow: visible;
        margin-top: 35px;
    }
    #main-menu ul li {
        display: block;
    }
    #main-menu ul li a {
        text-align: left;
        font-size: 13px;
    }
    #main-menu ul li a:hover {
        text-align: left;
    }
    header button.nav-toggle,
    header button.nav-close {
        position: absolute;
        right: 15px;
        margin: 0px;
        padding: 0px;
        top: 32px;
        width: 32px;
        height: 22px;
        display: block;
    }
    header button.nav-toggle {
        background: url("../img/toggle-button.png") 0 0 no-repeat;
        background-size: contain;
    }
    header button.nav-close {
        background: url("../img/close-button.png") right 0 no-repeat;
        background-size: contain;
    }
    #wrapper {
        margin-top: 80px;
    }
    #wrapper .column-left {
        width: 100%;
        margin: 0px;
    }
    #wrapper .column-right {
        display: none;
    }
    #foot-menu ul li {
        padding: 0 20px;
    }
}