/* FONTS */
@font-face {
    font-family: 'encode_sanssemibold';
    src: url('../fonts/encodesans-semibold-webfont.eot');
    src: url('../fonts/encodesans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/encodesans-semibold-webfont.woff') format('woff'),
         url('../fonts/encodesans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/encodesans-semibold-webfont.svg#encode_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'encode_sansregular';
    src: url('../fonts/encodesans-regular-webfont.eot');
    src: url('../fonts/encodesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans-regular-webfont.woff2') format('woff2'),
         url('../fonts/encodesans-regular-webfont.woff') format('woff'),
         url('../fonts/encodesans-regular-webfont.ttf') format('truetype'),
         url('../fonts/encodesans-regular-webfont.svg#encode_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'exomedium';
    src: url('../fonts/exo-medium-webfont.eot');
    src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-medium-webfont.woff2') format('woff2'),
         url('../fonts/exo-medium-webfont.woff') format('woff'),
         url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'encode_sansmedium';
    src: url('../fonts/encodesans-medium-webfont.eot');
    src: url('../fonts/encodesans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans-medium-webfont.woff2') format('woff2'),
         url('../fonts/encodesans-medium-webfont.woff') format('woff'),
         url('../fonts/encodesans-medium-webfont.ttf') format('truetype'),
         url('../fonts/encodesans-medium-webfont.svg#encode_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}