
h1, h2, h3, h4, h5, h6 {
      text-align: center;
  }

.container-fluid{

background-color: rgb(39,46,56);
color:white;


}
.card{

color:black;

}



#baner{

 background: url('images/wsiz.jpg') no-repeat center;
 background-size: cover;

}


#tabelka{

margin-left: 20%;
margin-top: 30%;


}
.drugi{

margin-top: 10px;



}
