body {
  background-image: url('../img/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  background-color: rgba(255,255,255,0.8);
  height: 60px;
}

li {
  display:inline;
  list-style-type: none;
  width: 100px;
  line-height: 60px;

}
