.select2-container {
    min-width: 150px;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'encode_sanssemibold';
    text-transform: uppercase;
    line-height: 25px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 7px 6px 0 6px;
    margin-left: -8px;
}
.btn-more {
    padding: 0px 45px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 32px;
    border: 2px solid #000;
    transition: background-color ease 1s,color ease 1s;
}
.btn-more:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.btn-black-arrow {
    display: inline-block;
    font-family: 'encode_sanssemibold';
    text-transform: uppercase;
    padding-right: 18px;
    background: url(../img/arrow.jpg) 100% center no-repeat;
}
.btn-black-arrow:hover {
    text-decoration: underline;
}