<!--LISTA-->
<section id="list-post-category"> 
    <div class="sort-row">
        <label>Sortuj według kategorii:</label>
        <select name="category">
            <option value="">Kategoria</option>
        </select>  
    </div>
    <div class="list-post">

        <div class="one-post my-section">
            <a href="#">
                <div class="image-wrapper">
                    <img src="demo/img2.jpg" alt="" />
                </div>    
                <div class="content-wrapper">
                    <span class="title">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel</span>
                    <span class="date">21 / 11 / 2016</span>
                    <span class="category">KATEGORIA</span>
                    <span class="writer">Jan Nowak</span>
                    <div class="txt"> 
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                    </div>
                </div>
            </a>
            <a class="btn-more" href="#">Czytaj więcej</a>
        </div>
        
        
        
        <div class="buttons-wrapper">
            <a class="btn-black-arrow" href="#">Archiwum</a>
        </div>
        
    </div>
</section>