/*LIST POST*/
#list-post-category,
#list-post-category .sort-row {
    overflow: hidden;
    padding-bottom: 25px;
}
#list-post-category .sort-row label {
    color: #272626;
}
#list-post-category .list-post {
    overflow: hidden;
}
#list-post-category .one-post {
    overflow: hidden;
    position: relative;
}
#list-post-category .one-post .image-wrapper {
    padding-left: 0px;
    float: left;
    width: 53%;
}
#list-post-category .one-post .content-wrapper {
    padding-left: 30px;
    width: 47%;
    float: left;
}
#list-post-category .one-post img {
    height: auto;
    max-width: 100%;
    display: inline-block;
}
#list-post-category .one-post .title {
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
}
#list-post-category .one-post .date {
    display: block;
    padding-bottom: 25px;
}
#list-post-category .one-post .category {
    font-family: 'encode_sanssemibold';
    padding-bottom: 10px;
    text-transform: uppercase;
    display: block;
}
#list-post-category .one-post .writer {
    padding-bottom: 10px;
    display: block;
}
#list-post-category .one-post .text {
    padding-bottom: 20px;
}
#list-post-category .one-post .btn-more {
    position: absolute;
    bottom: 33px;
    right: 0px;
}
#list-post-category .one-post .txt {
    padding-bottom: 75px;
}
#list-post-category .buttons-wrapper {
    overflow: hidden;
    text-align: right;
}