// $primary: rgb(218, 170, 12) !default;
// $danger: rgb(43, 8, 243) !default;


// $breadcrumb-bg: none;
// $breadcrumb-divider-color:          rgb(43, 8, 243);
// $breadcrumb-active-color:           rgb(236, 19, 146);
// $breadcrumb-divider:                quote(">");

// // $breadcrumb-border-radius:          $border-radius !default;

// $grid-columns: 12;