// .alert-warning {
//     padding: 20px;
//     strong {
//     color: blue;
//     }
//     .close {
//     border: 3px solid rgb(167, 158, 158);
//     span {
//     font-size: 30px;
//     }
//     }
//     }


//     .alert-webakademia {
//         @extend .alert-danger;
//     }


//     @mixin img-fluid {
//         max-width: 100%;
//         height: auto;
//         }

//     .our-image {
//         @include img-fluid;
//         }



//         @mixin hover-frame($radius: 10px)
//         {
//             border-radius: $radius;
//             border: ($radius / 5) dotted red;
//         &:hover {
//             transform: scale(1.1);
//              transition: 1s ease-in;
//         }
//         }