* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'encode_sansregular';
    overflow-x: hidden; 
    font-size: 13px;
    line-height: 20px;
    color: #000;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    cursor: pointer;
}
.clear {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text-center {
    text-align: center;
}
.widthpage {
    width: 1200px;
}