<div class="widthpage">
    <a class="logo" href="#">
        <img src="img/logo.png" alt="" />
    </a>
    <button type="button" class="nav-toggle"></button>
    <nav id="main-menu">
        <ul>
            <li>
                <a href="#">Strona główna</a>
            </li>
            <li>
                <a href="#">Baza wiedzy</a>
            </li>
            <li>
                <a href="#">Eksperci</a>
            </li>
            <li>
                <a href="#">Kontakt</a>
            </li>
        </ul>
        <button type="button" class="nav-close"></button>
    </nav>
</div>