/*HEADER*/
header {
    width: 100%;
    height: 163px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    padding: 23px 0 0;
    background: #fff url("../img/tlo.jpg") 0 bottom repeat-x;
    z-index: 2;
    transition: background-color 0.25s linear;
}
header.sticky {
    background-color: rgba(255,255,255, 0.8);
}
header > div {
    margin: 0 auto;
    overflow: hidden;
}