/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #wrapper.widthpage,
    .widthpage {
        width: auto;
    }
    #wrapper {
        margin-right: 10px;
        margin-left: 10px;
    }
    .column-left {
        width: calc(70% - 27px);
    }
    .column-right {
        width: 30%;
    }
    #banner .post .transparent-bg > div {
        font-size: 16px;
    }
}