<!--SPRAWOZDANIE-->
<div class="one-block">
    <span class="title text-center">KOLEJNE SPRAWOZDANIE ZA</span>
    <div class="content text-center">
        <strong class="counter">100</strong>
        <div class="days">DNI</div>
    </div>
</div>