#main-menu ul {
  margin: 0;
  display: block;
  text-align: center; 
}
#main-menu ul li {
    display: inline-block;
    margin: 0px; 
}
#main-menu ul li a {
    text-transform: uppercase;
    color: #fff;
    display: block;
    line-height: 37px;
    font-weight: normal;
    font-size: 13px; 
    transition: background-color linear 1s,color linear 1s;
    padding: 0 26px;
}
#main-menu ul li a:hover {
    color: #000;
    background-color: #fff;
}
header button.nav-close,
header button.nav-toggle {
    display: none;
}