<!--BANNER-->
<section id="banner" class="my-section">
    <div class="post">
        <a href="#">
            <img src="demo/img1.jpg" alt="" />
            <div class="transparent-bg">
                <div>
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel
                    Proin gravida nibh vel Proin gravida nibh vel Proin gravida nibh vel
                </div>
                <span class="post-link">czytaj więcej...</span>
            </div>
        </a>
    </div>
</section>