.my-section {
    border-bottom: 2px solid #000;
    overflow: hidden;
    padding-bottom: 28px;
    margin-bottom: 28px;
}
/*MAIN BANNER*/
#banner .post {
    overflow: hidden;
    position: relative;
}
#banner .post img { 
    height: auto;
    max-width: 100%;
    display: inline-block;
}
#banner .post .transparent-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    width: 100%;
    padding: 24px 35px;
    transition: background-color ease 1s;
}
#banner .post .transparent-bg > div {
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #fff;
}

#banner .post .transparent-bg .post-link {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
#banner .post:hover .transparent-bg {
    background-color: rgba(0, 0, 0, 1.0);
}