<!--INFO BLOCK-->
<div class="one-block">
    <span class="title text-center">INFORMACJE</span>
    <div class="content text-center">
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
    </div>
</div>