
* {
    font-family: tahoma;
}
a {
    text-decoration: none;
    color: white;
    
}

.plywajaca{
    width: 30%;
    float: left;
    margin:5px;
    padding: 5px;
    border: 1px red solid;
    text-align: center;
    min-height: 180px;
    overflow: visible;
    
}

.clear {
    clear:both;
}

.container {
    width: 300px;
    margin: 0 auto;   
}

.column {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin: 0px;
}



.klasa-relatywna {
width: 300px;
height: 300px;
background-color: black;
color: #fff;
position: relative;
 

}

.klasa-relatywna p {
background-color: red;
width: 150px;
height: 150px;
position: absolute;
bottom: 0px;
right: 0px;
margin: 0;

}

.klasa-fixed div {
background-color: red;
width: 20%;
height: 40px;
position: fixed;
top: 0px;
right: 0px;
text-align: center;
padding: 10px 0 0 0; }

.kwadraty {
    position: relative;
    height: 100px;
}

.kwadraty div:first-child {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.kwadraty div:last-child {
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    position: absolute;
    top: 0px;
    right: 0px;
}

#menu {
    position: fixed;
    top: 0;
    width:100%;
    text-align: center;
    background-color: rgba(128,128,128,0.7);  
    z-index: 2;
}

#menu ul {
   
}

#menu ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    background-color: black;
    margin:2px;
    width: 120px;
    height: 20px;
    line-height:  
}

#menu ul li:hover {
  background-color: azure;
color:black;
}


#menu li:nth-child(2n+1) {
    color:red;
}

#menu li:nth-child(2n) {
    color: green;
}


.tlo {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    background-image: url(/www_start/img/tlo.jpg);
    margin: 0 auto;
}

.obrazek img {
    width: 80%;
    margin: 20px auto;
    display: block;
}

.tlo2 {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 5px 5px 10px 3px black;
    background-color: rgba(128,128,128,0.6);   
    
}

.tlo3 {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 5px 5px 10px 3px black;
    background-color: rgba(128,128,128,0.6);   
    box-sizing: border-box;
}

.bgbox {
    width: 300px;
    height: 400px;
    border: 30px solid black;
    background-image: url("../img/obrazek.jpg"),url("../img/tlo.jpg");
    background-size: 100px auto, 100px auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 100% 0;
    border-image: url(../img/tlo.jpg) 30 round;
    letter-spacing: 6px;
    word-spacing: 7px;
    font-size: 24px;
    padding: 0;
    overflow: hidden;
    word-break: break-all;
    }


.flx {
    column-count: 4;
    justify-content: flex-start;
    column-gap: 20px;
}

#btn {
    display: block;
    background-color: black;
    width:200px;
    height:50px;
    margin: 20px 20px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    transition-duration: 2s;
    transition-property: all;
    
}

#btn:hover {
    background-color: white;
    color: black;
    transform: rotate(180deg) scale(1.3);
}

.kolko div {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100px;
    
}
