/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #banner .post .transparent-bg {
        padding: 15px 20px;
    }
    #list-post-category .one-post .title {
        font-size: 16px;
    }
    #list-post-category .one-post .date {
        padding-bottom: 10px;
    }
    #list-post-category .one-post .txt {
        display: none;
    } 
    #list-post-category .one-post .btn-more {
        width: calc(47% - 30px);
        padding: 0px;
        text-align: center;
        position: static;
        float: right;
    }
    #banner .post .transparent-bg > div {
        font-size: 14px;
        line-height: 16px;
    }
    .read-post .one-post:nth-of-type(n+4) {
        display: none;
    }
    .read-post .one-post .transparent-bg {
        padding: 5px;
        max-height: 34px;
        line-height: 14px;
        font-size: 12px;
    }
}