* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: none;
}
body {

}
.zad1 div{
  display:inline-block;
  margin: 0 15px;
}

/*
span {
  color:green;
  font-size: 20px;
}

div > span {
  color: red;
}

div + p {
  color: red;
}

div ~ p {
  font-size: 30px;
}


div * {
  color:red;
}



p {
  width:300px;
  height:300px;
  border: black 2px solid;
}

p {
  background: url("https://html.com/wp-content/plugins/htmlcodetutorial-plugin/assets/images/safari-true.png") no-repeat;
  background-size: 60px 60px;
}

.gora-prawa {
  background-position: top right;
}

.dol-lewa {
  background-position: bottom left;
}

.dol-prawa {
  background-position: bottom right;
}

*/
.gora-lewa {
  width:300px;
  height:300px;
  line-height: 300px;
  text-align: center;
  border: black 2px solid;
  border-radius: 45px 40px 45px 40px;
  border-color: red green blue black;
  background-color: #cc8dd2;
  background-image: -webkit-gradient(radial, 59 147, 0, 59 147, 531,color-stop(0, rgb(255, 255, 255)),color-stop(0.7, rgb(229, 68, 198)),color-stop(1, rgb(4, 118, 148)));
    /* Android 2.3 */
    background-image: -webkit-radial-gradient(59px 147px, 531px 531px,rgb(255, 255, 255) 0%,rgb(229, 68, 198) 70%,rgb(4, 118, 148) 100%);
    /* IE10+ */
    background-image: radial-gradient(circle 531px at 59px 147px,rgb(255, 255, 255) 0%,rgb(229, 68, 198) 70%,rgb(4, 118, 148) 100%);
    background-image: -ms-radial-gradient(59px 147px, 531px 531px,rgb(255, 255, 255) 0%,rgb(229, 68, 198) 70%,rgb(4, 118, 148) 100%);
}

ul {
  list-style-type:lower-alpha;
  list-style-position:outside;
}


.klasa-plywajaca img {
float: left;
max-width: 200px;
margin: 0 10px 5px 0px;
display:block;

}
