/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #banner {
        display: none;
    }
    #list-post-category .sort-row label {
        padding-bottom: 10px;
        display: block;
    }
    #list-post-category .sort-row .select2-container {
        display: block;
        width: 100%!important;
    }
    #list-post-category .one-post .content-wrapper,
    #list-post-category .one-post .image-wrapper {
        float: none;
        width: auto;
    }
    #list-post-category .one-post .content-wrapper {
        padding-left: 0px;
    }
    #list-post-category .one-post .btn-more {
        width: 100%;
    }
    footer {
        padding: 20px 0px;
    }
    #foot-menu ul li {
        padding: 0 10px;
        display: block;
    }
}
