header .logo {
    display: block;
    text-align: center;
    padding-bottom: 23px;
    transition: opacity 0.25s linear;
}
header.sticky .logo {
    opacity: 0.8;
}
header .logo img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}