<!--SEARCH BLOCK-->
<div class="one-block">
    <span class="title text-center">Wyszukiwarka</span>
    <div class="content text-center">
        <div class="search-form">
            <form method="get" action="">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" required="required" aria-required="true" value="" placeholder="SZUKAJ" />
                    <input type="submit" name="submit" value="" />
                </div>   
            </form>
        </div>
    </div>
</div>