/*SEARCH BLOCK*/
.search-form {
    overflow: hidden;
}
.search-form .form-group {
    position: relative;
}
.search-form .form-group input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 0px;
    width: 30px;
    background: url(../img/arrow-search.jpg) center center no-repeat;
}