 <div class="one-block">
    <span class="title text-center">CHCESZ OTRZYMYWAĆ NAJNOWSZE INFORMACJE?</span>
    <div class="content text-center">
        Dołącz do newslettera!
        <div class="newsletter-form">
            <form method="get" action="">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" required="required" aria-required="true" value="" placeholder="ADRES E-MAIL" />
                </div>  
                <div class="form-group">
                    <label class="btn-checkbox">
                        <input class="form-control" type="checkbox" name="terms" />
                        <span>Zgadzam się na otrzymywanie pocztą elektroniczną na podany powyżej adres e-mail Newslettera oraz innych publikacji i informacji zawierających reklamy zgodnie z Ustawą o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz. U. nr 144 poz. 1204).</span>
                    </label>
                </div>  
                <div class="form-group">
                    <input class="btn-more" type="submit" name="submit" value="ZAPISZ" />
                </div>
            </form>
        </div>
    </div>
</div>