/*BLOCK NEWSLETTER*/
.newsletter-form {
    text-align: left;
}
.newsletter-form input[type="submit"] {
    width: 100%;
}
.btn-checkbox input[type="checkbox"] {
    display: none;
}
.btn-checkbox span {
    color: #bcbcbc;
    cursor: pointer;
    padding-left: 25px;
    font-size: 9px;
    line-height: 12px;
    display: block;
    background: url(../img/unchecked.jpg) 0 0 no-repeat;
}
.btn-checkbox input[type="checkbox"]:checked + span {
    background: url(../img/checked.jpg) 0 0 no-repeat;
}